div.wrapper {
  background: #333536;
  border: 3px dashed #7a7a7a;
  border-radius: 10px;
  padding: 3px;
  width: 600px;
  margin: 0 auto;
}

h1 {
  color: #a7abad;
  text-align: center;
}

body {
  text-align: left;
  background: color #e6b1b1;
}

img {
  height: 300px;
  width: 600px;
  border-radius: 10px;
  margin: 10px auto 10px;
  display: block;
  
}

.title {
  color: #b6a284;
}

nav a {
  color: #cf7500;
}

.text-center {
  text-align: center;
}

.secondary-heading {
  color: #1e99be;
  text-shadow: 2px 2px 2px black;
}

.article-heading {
  text-shadow: 1px 1px red;
}
