html {
  height: 100vh;
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body{

display:flex;
min-height:100vh;
flex-direction:column;
justify-content:flex-start;
position:relative;
padding-bottom:60px;
background: white;


}



.navigation__content {
  background: rgb(252,183,255);
  background: linear-gradient(130deg, rgba(252,183,255,1) 0%, rgba(190,255,225,1) 40%, rgba(38,76,113,1) 100%);
  background-attachment: fixed;
  width:100%;
  height: 60px;
  padding: 20px;
  top: 0;
  font-size: 16px;
 position: fixed;
 display: flex;
 justify-content: center;
}

.navigation__link {
  color: white;
  height: 25px;
  margin: 0 20px;
}

.header{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header__tittle {
  color: grey;
  height: 90px;
  padding: 55px 0 0 0;
  display: flex;
  justify-content: center;
}

.header__image {
  display: flex;
  width: 1000px;
}

.article__heading {
  width:1000px;
  background: rgb(252,183,255);
  background: linear-gradient(130deg, rgba(252,183,255,1) 0%, rgba(190,255,225,1) 40%, rgba(38,76,113,1) 100%);
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.article__heading-greeting {
  background: rgb(252,183,255);
  background: linear-gradient(130deg, rgba(252,183,255,1) 0%, rgba(190,255,225,1) 40%, rgba(38,76,113,1) 100%);
  background-attachment: fixed;
  color: white;
  font-size: 24px;
  width: 1000px;
  text-align: center;
}

.article__description {
  color: grey;
  width: 1000px;
  text-align: center;
}

.article__list {
  text-align: left;
  line-height: 30px;
}

.footer {
  display:flex;
  justify-content:center;
  
  
}

.footer__text{
width:1000px;
height: 60px;
  position:absolute;
  bottom:0;
  padding-top:16px;


}

.article{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.form__main{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.navigation__content--form {
  background:#2d2241;
  width:100%;
  height: 60px;
  padding: 20px;
  top: 0;
  font-size: 16px;
 position: fixed;
 display: flex;
 justify-content: center;
}

.form__header{
  color:#ffc400;
  margin:60px 0 0;
}

.form{
  min-width:40%;
color:white;
display:block;
}

.form__label{
  display:flex;
  flex-direction:column;
}

.body__form{
  background:#2d2241;
}

.form__input{
  width:100%;
}

.form__select{
  width:100%;
}



